<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
<div id="app">
    <div v-bind:id="a" :class="a">
        {{ a }}
    </div>
    <div>
        <span v-if="b">true</span>
        <span v-else>false</span>
        <span v-show="c.a">{{ c.c }}</span>
        <span v-show="c.b">{{ c.c }}</span>
    </div>
    <div>
        <ul>
            <li v-for="person in people">
                <span>姓名：{{ person.name }}</span>
                <span>年龄：{{ person.age }}</span>
            </li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            a: 'a',
            b: true,
            c: {
                a: true,
                b: false,
                c: 'hello'
            },
            people: [{
                name: 'Alan',
                age: 18
            }, {
                name: 'Bob',
                age: 20,
            }]
        }
    });
</script>
</body>
</html>