<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
<div id="app">
    <div v-bind:id="a" :class="a">
        {{ a }}
    </div>
    <div>
        <span v-if="b">true</span>
        <span v-else>false</span>
        <span v-show="c.a">{{ c.c }}</span>
        <span v-show="c.b">{{ c.c }}</span>
    </div>
    <div>
        <ul>
            <person v-for="person in people" :name="person.name" :age="person.age" :gender="person.gender">
                <template v-slot:avatar="avatar">
                    <span>😀</span>
                </template>
            </person>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component('person', {
        props: {
            name: String,
            age: Number,
            gender: {
                type: String,
                default: '男'
            }
        },
        template: `
            <li>
                <slot name="avatar"></slot>
                <span>姓名：{{ name }}</span>
                <span>年龄：{{ age }}</span>
                <span>性别：{{ gender }}</span>
                <button @click="show(name)">查看</button>
            </li>
        `,
        methods: {
            show: function (value) {
                alert(value);
            }
        }
    });

    var vm = new Vue({
        el: '#app',
        data: {
            a: 'a',
            b: true,
            c: {
                a: true,
                b: false,
                c: 'hello'
            },
            people: [{
                name: 'Alan',
                age: 18
            }, {
                name: 'Bob',
                age: 20,
            }, {
                name: 'Cindy',
                age: 19,
                gender: '女'
            }]
        }
    });
</script>
</body>
</html>